
 {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
  border-collapse: collapse;
}
.ff{
text-align: center;

border: collapse 1px solid black
}
.ra{
text-align: center;
}